Mail Connector/Service References/IPLotusNotesMailService/IPLotusNotesMailService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Company.ServiceModel.IPMailServiceApp" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Company.ServiceModel.IPMailServiceApp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Company.ServiceModel.IPMailServiceApp/Imports">
      <xsd:import schemaLocation="http://hostname-lnservice:1000/LotusNotesMailService.svc?xsd=xsd0" namespace="http://Company.ServiceModel.IPMailServiceApp" />
      <xsd:import schemaLocation="http://hostname-lnservice:1000/LotusNotesMailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hostname-lnservice:1000/LotusNotesMailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Company.ServiceModel.IPMailServiceApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILotusNotesMail_GetEmailAttachments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailAttachments" />
  </wsdl:message>
  <wsdl:message name="ILotusNotesMail_GetEmailAttachments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ILotusNotesMail_GetMail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMail" />
  </wsdl:message>
  <wsdl:message name="ILotusNotesMail_GetMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMailResponse" />
  </wsdl:message>
  <wsdl:message name="ILotusNotesMail_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ILotusNotesMail_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILotusNotesMail_SetMailAsRead_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMailAsRead" />
  </wsdl:message>
  <wsdl:message name="ILotusNotesMail_SetMailAsRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMailAsReadResponse" />
  </wsdl:message>
  <wsdl:portType name="ILotusNotesMail">
    <wsdl:operation name="GetEmailAttachments">
      <wsdl:input wsaw:Action="http://Company.ServiceModel.IPMailServiceApp/ILotusNotesMail/GetEmailAttachments" message="tns:ILotusNotesMail_GetEmailAttachments_InputMessage" />
      <wsdl:output wsaw:Action="http://Company.ServiceModel.IPMailServiceApp/ILotusNotesMail/GetEmailAttachmentsResponse" message="tns:ILotusNotesMail_GetEmailAttachments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMail">
      <wsdl:input wsaw:Action="http://Company.ServiceModel.IPMailServiceApp/ILotusNotesMail/GetMail" message="tns:ILotusNotesMail_GetMail_InputMessage" />
      <wsdl:output wsaw:Action="http://Company.ServiceModel.IPMailServiceApp/ILotusNotesMail/GetMailResponse" message="tns:ILotusNotesMail_GetMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://Company.ServiceModel.IPMailServiceApp/ILotusNotesMail/GetData" message="tns:ILotusNotesMail_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://Company.ServiceModel.IPMailServiceApp/ILotusNotesMail/GetDataResponse" message="tns:ILotusNotesMail_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMailAsRead">
      <wsdl:input wsaw:Action="http://Company.ServiceModel.IPMailServiceApp/ILotusNotesMail/SetMailAsRead" message="tns:ILotusNotesMail_SetMailAsRead_InputMessage" />
      <wsdl:output wsaw:Action="http://Company.ServiceModel.IPMailServiceApp/ILotusNotesMail/SetMailAsReadResponse" message="tns:ILotusNotesMail_SetMailAsRead_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>